* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  color: #575756;
  font-weight: 100;
}

.container{
  width: 80%;
}

body{
  margin: 20px 0;
}

nav{
  font-weight: 300;
}

nav li, footer {
  position: relative;
  float: right;
}

nav li {
  margin: 0.5%;
  padding-right: 0.5%;
  border-right: 1px solid #575756;
}

.logo{
  position: relative;
  float: left;
  left:20px;
  z-index: 100;
}
.empty {
  clear: both;
}

li {
  list-style: none;
  display: inline-block;

}

img{
  max-width: 100%;
  padding-right: 1%;
  height: auto;
}

.tekst>li {
  display: inline-block;
  width: 30%;
}

div{
  margin: 0 auto;
  border: 1px solid black;
}

a{
  text-decoration: none;
}

footer {
  padding-right: 10%;
  border-top:1px solid #999966;
}
