* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  color: #575756;
  font-weight: 100;
}

nav{
  font-weight: 300;
}

li {
  list-style: none;
  display: inline-block;
}

div{
  margin: 0 auto;
}

a{
  text-decoration: none;
}
